.container-fluid
  .row.center-block
    .col-md-12
      .btn-group.btn-group-justified
        = link_to "Make a wish", new_gift_path, class: 'btn btn-info'
        = link_to "My gifts to others", santa_list_gifts_path, class: 'btn btn-success'
