#{ provide(:title, 'Gifts') }
=render 'top_nav'

.container-fluid

  %h4.text-right= link_to "Choose random", '/register_to_random_gift', class: 'btn btn-primary wish-button'
  
  %div{"ng-controller" => "searchController"}

    %h1.text-center Gifts that other people want

    %form.text-center
      %input.search-input{"type"=>"text", "placeholder"=>"Search for gifts",
                          "name"=>"query", "ng-model"=>"query", "ng-change"=>"searchClick()"}
      %p
        %a{"href"=>"", "ng-click"=>"getAll()"} Show all gifts

    = render "pagination"

    %table.table.table-hover.table-striped.panel.table-winter
      %tr
        %th Who made a wish
        %th{"ng-click"=>"sortGifts('name')"} Gift name
        %th{"ng-click"=>"sortGifts('importance_id')"} Importance
        %th Link
        %th

      %tr{"ng-repeat"=>"gift in gifts"}
        %td{"ng-bind"=>"gift.user.name"}
        %td{"ng-bind"=>"gift.name"}
        %td{"ng-bind"=>"gift.importance.name"}
          %a{"ng-href"=>"{{gift.allegro_link}}"}
        %td
          %a.btn.btn-info{"ng-click"=>"registerSanta(gift.id)"} Choose

    = render "pagination"



