.container-fluid

  .btn-group.btn-group-justified

    = link_to "Make a wish", "#", class: 'btn btn-info'
    = link_to "Realize a wish", "#", class: 'btn btn-success'

  =gravatar_for current_user

  %h1 All gifts

  %table.table.table-hover.table.striped
    %tr
      %th Name
      %th Link

      -@gifts.each do |g|
        %tr
          %td= g.name
          %td= link_to "See on Allegro", g.allegro_link




