#{ provide(:title, 'Gifts') }
=render 'top_nav'

.container-fluid

  //=gravatar_for current_user

  %div{"ng-controller" => "searchController"}

    %h4.text-center Gifts that other people want

    %form.text-center
      %input{"type"=>"text", "placeholder"=>"Search for gifts", "name"=>"query", "ng-model"=>"query", "ng-change"=>"searchClick()"}

      %p
        %a{"href"=>"", "ng-click"=>"getAll()"} Show all


    %ul.pagination
      %li.prev{"ng-class"=>"prevClass"}
        %a{"rel"=>"prev", "href"=>"", "ng-click"=>"prevPage()"} ← Previous
      %li{"ng-repeat"=>"a in range() track by $index", "ng-class"=>"pageClass[$index]"}
        %a{"href"=>"", "ng-click"=>"changePage($index + 1)"}  {{ $index + 1}}
      %li.next{"ng-class"=>"nextClass"}
        %a{"rel"=>"next", "href"=>"", "ng-click"=>"nextPage()"} Next →

    %table.table.table-hover.table.striped.panel
      %tr
        %th Who made a wish
        %th Gift name
        %th Importance
        %th Link
        %th


      %tr{"ng-repeat"=>"gift in gifts"}
        %td{"ng-bind"=>"gift.user.name"}
        %td{"ng-bind"=>"gift.name"}
        %td{"ng-bind"=>"gift.importance.name"}
          %a{"ng-href"=>"{{gift.allegro_link}}"}
        %td
          %a.btn.btn-info{"ng-click"=>"registerSanta(gift.id)"} Choose





