#{ provide(:title, 'Santa list') }
=render 'top_nav'
.container-fluid

  %h1.text-center Gifts to offer
  %h4.text-center List of gifts that I will offer

  %table.table.table-hover.table.striped
    %tr
      %th Name
      %th Link
      %th Importance

      -@gifts.each do |g|
        %tr
          %td= g.name
          %td= link_to "See on Allegro", g.allegro_link
          %td= g.importance.name

