.container
  .row
    .col-md-4.col-md-offset-4.text-center.rooms
      = render "form"
    .col-md-8.col-md-offset-2.text-center.rooms
      %table.table.table-hover.table.striped.panel
        %tr
          %th.text-center Rooms
          %th
        -@rooms.each do |room|
          %tr
            %td= room.name
            %td= link_to "Join", room_path(room)


