// Place all the styles related to the gifts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-in{
  margin-top: 15%;
  background: rgba(248,248,248,0.6);
  padding-top: 50px;
  padding-bottom: 60px;
  width: 75%;
  border-radius: 5px;
  h1, h2{
    padding-bottom: 50px;
    color: #7e7777;
    font-size: 50px;
    text-shadow: rgb(150, 150, 150) 2px 2px 2px
  }h2{
    padding-bottom: 30px;
  }
}
.new-wish{
  margin-top: 5%;
  background: rgba(248,248,248,0.6);
  padding-top: 50px;
  padding-bottom: 60px;
  width: 75%;
  border-radius: 5px;
  h1, h2{
    padding-bottom: 50px;
    color: #7e7777;
    font-size: 50px;
    text-shadow: rgb(150, 150, 150) 2px 2px 2px
  }h2{
    padding-bottom: 30px;
  }
}
.wish-button{
  margin-right: 10px;
}

.search-input {
  width: 400px;
  padding: 4px;
  margin: 10px;
}

.pagination {
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel {
  margin-top: 15px;
}